@charset "utf-8";

@font-face {
	font-family: Consolas;
	src: url(web/Consolas.ttf);
}
@font-face {
	font-family: Pixeled;
	src: url(web/Pixeled.ttf);
	font-size: 2.5vw;
	text-decoration: none;
	color:blueviolet;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@media (max-width: 1298px){
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner{
	padding-left: 50px;
	display: table;
	float:left;
	position: absolute;
}
#gorila{
	display: block;
	margin: auto;
}
.navigation, .navigation a.main {

	transfor: skew(40deg) translate(-2%, 0%);
	z-index: 2;
}
.navigation{
	position: fixed;
	transform: skew(40deg) translate(7%, 42%);
	background-color: #333;
	height: 40px;
	width: 250px;
	font: bold 0px/40px arial, sans-serif;
	text-align: center;
	text-decoration: none;
}
#mundoGorila{
	position: absolute;
	text-decoration: none!important;
		color: #FFF;
	font-familY: Pixeled;
	font-size: 20px;
	transform: skewX( -40deg) translate(-45%, 0%);
}
body{
	color:#292828;

	width:90%;
	display: block;
	margin: auto;
	background-color: #F87173;
}
#video{
	width:100%;

	display: block;
	margin: auto;
}
#front{
	color: #333;
	width:50%;

	left:30%;
	top:10%;
	margin: auto;
	font-family: Consolas;
	font-size: 14px;
	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
}
#back {
  position: fixed;
  float: right;
  font-size: 10px;
  top: 95%;
  right: 5%;
  color: grey;
  text-decoration: none!important;
  font-family: Pixeled;
}
