@charset "utf-8";

@media (max-width: 1221px) {
}
#menu {
}
@font-face {
	font-family: babyblocks;
	src: url(web/babyblocks.ttf);
}
@font-face {
	font-family: Biohack;
	src: url(web/Biohack.ttf);
}
@font-face {
	font-family: Pixeled;
	src: url(web/Pixeled.ttf);
	font-size: 2.5vw;
	text-decoration: none;
	color:blueviolet;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:0; }
    100% { opacity:0; }
}

@-webkit-keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:0; }
    100% { opacity:0; }
}
@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:1; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:1; }
    100% { opacity:1; }
}
@keyframes crossing{
 	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}

}
@-webkit-keyframes crossing {
  	0% {
		background-position: 0% 50%

	}
	50% {
		background-position: 100% 50%

	}
	100% {
		background-position: 0% 50%
	}

}
.navigation {

}
.navigation, .navigation a.main {
	border-radius: 0px;
	transform: skew(40deg);
	z-index: 2;

}
.navigation:hover, .navigation:hover a.main {


}
.navigation .main {

	background: -webkit-linear-gradient(-45deg, #66FF66,#FF6EFF,#AAF0D1); /* Safari 5.1-6.0 */
    background: linear-gradient(-45deg,#66FF66,#FF6EFF,#AAF0D1);
	-webkit-animation: crossing 8s ease infinite;
	animation: crossing 8s ease infinite;
		background-size: 600% 600%;
	display: block;
	height: 40px;
	width: 250px;
	font: bold 15px/40px arial, sans-serif;
	text-align: center;
	text-decoration: none;
	color: #000;
	background-color: #333;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	-webkit-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	transform: translate(50%, 100%);
		z-index: 20;

}
.navigation li {
	visibility: hidden;
	list-style-type: none;
 	width: 250px;
	height: 40px;
	background-color: #000;
	font: normal 12px/40px arial, sans-serif !important;
	text-align: center;
	-webkit-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	transform: translate(40%, 100%);
	z-index: 20;
}
.navigation li:nth-child(2) {
	background-image:
		linear-gradient(90deg, #333 5px, white 5px),
		linear-gradient(90deg, white 5px, #333 5px),
		linear-gradient(90deg, #333 5px, white 5px),
		linear-gradient(90deg, white 5px, #333 5px),
		linear-gradient(90deg, #333 5px, white 5px),
		linear-gradient(90deg, #FFF 5px, #333 5px),
		linear-gradient(90deg, #333 5px, white 5px),
		linear-gradient(90deg, #FFF 5px, #333 5px);
	background-position: 0 0, 0 5px, 0 10px, 0 15px, 0 20px, 0 25px, 0 30px, 0 35px;
	background-repeat: repeat-x;
	background-size: 10px 5px, 10px 5px, 10px 5px, 10px 5px, 10px 5px, 10px 5px, 10px 5px;
	z-index: 0;
	animation-name: fadeout;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadeout;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}
#mobMess{
	position: absolute;
	color:black;
	text-decoration: none!important;
	font-family: pixeled;
	font-size: 30px;
	transform: skewX( -40deg) translate(-40%, -10%);
}
div.main:hover ~li#n1{
	-webkit-transition:all 0.2s ease ;
	-o-transition:all 0.2s ease ;
	transition: all 0.2s ease ;
	visibility: visible;
	transform: translate(15%, 240%);
	animation-name: fadein;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadein;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadein;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}
.navigation li#n1 {
	-webkit-transition:all 1.2s ease ;
	-o-transition:all 1.2s ease ;
	transition: all 1.2s ease ;
	transform: translate(35%, 120%);
	-webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
	z-index: -1;
	animation-name: fadeout;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadeout;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}
div.main:hover ~li#n2 {
	-webkit-transition:all 0.2s ease ;
	-o-transition:all 0.2s ease ;
	transition: all 0.2s ease ;
	visibility: visible;
	transform: translate(-18%, 400%);
	background:  #126302;
	animation-name: fadein;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadein;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadein;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}
#power{
	color: aliceblue;
	position: absolute;
	text-decoration: none!important;
	font-family: pixeled;
	font-size: 30px;
	transform: skewX( -40deg) translate(-66%, -10%);
}
#plant{
	color: #126302;
	position: absolute;
	text-decoration: none!important;
	font-family: pixeled;
	font-size: 30px;
	transform: skewX( -40deg) translate(-1%, 80%);
}
.navigation li#n2 {
	background: #126302;
	-webkit-transition: 1.2s ease;
	-o-transition: 1.2s ease;
	transition: 1.2s ease;
	transform: translate(25%, 100%);
	-webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
	z-index: -2;
	animation-name: fadeout;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadeout;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}

div.main:hover ~li#n3 {
	-webkit-transition:all 0.2s ease ;
	-o-transition:all 0.2s ease ;
	transition: all 0.2s ease ;
	visibility: visible;
	transform: translate(-58%, 590%);
	background:  #FFDD30;
	animation-name: fadein;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadein;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadein;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}
#babyDuck{
	position: absolute;
	text-decoration: none!important;
	font-family: babyblocks;
	font-size: 30px;
	transform: skewX( -40deg) translate(-45%, 0%);
}
.navigation li#n3 {
	background: #FFDD30;
	-webkit-transition: 1.2s ease;
	-o-transition: 1.2s ease;
	transition: 1.2s ease;
	transform: translate(10%, 150%);
	-webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
	z-index: -2;
	animation-name: fadeout;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadeout;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}

div.main:hover ~li#n4 {
	-webkit-transition:all 0.2s ease ;
	-o-transition:all 0.2s ease ;
	transition: all 0.2s ease ;
	visibility: visible;
	transform: translate(-98%, 790%);
	background:  #F87173;
	animation-name: fadein;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadein;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadein;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}
#mundoGorila{
	
	position: absolute;
	text-decoration: none!important;
		color: #000000;
	font-familY: Pixeled;
	font-size: 20px;
	transform: skewX( -40deg) translate(-45%, 0%);
}
.navigation li#n4 {
	background: #F87173;
	-webkit-transition: 1.2s ease;
	-o-transition: 1.2s ease;
	transition: 1.2s ease;
	transform: translate(0%, 50%);
	-webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
	z-index: -2;
	animation-name: fadeout;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-delay:2s;
	animation-directionn: normal;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:2s;
	-webkit-animation-directionn: normal;
	-moz-animation-name: fadeout;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease;
	-moz-animation-delay:2s;
	-moz-animation-directionn: normal;
}
div.main:hover ~li#n9 {
	-webkit-transition:all 0.2s ease ;
	-o-transition:all 0.2s ease ;
	transition: all 0.2s ease ;
	visibility: visible;
	transform: translate(-140%, 1000%);
 background: -webkit-linear-gradient(-45deg, #AAF0D1,#66FF66,#FF6EFF); /* Safari 5.1-6.0 */
    background: -moz-linear-gradient(-45deg, #AAF0D1,#66FF66,#FF6EFF); /* Firefox 3.6-15 */
    background: linear-gradient(-45deg, #AAF0D1,#66FF66,#FF6EFF);
	-webkit-animation: crossing 3s ease infinite,1s ease 2s normal forwards 1 fadein ;;
	animation: crossing 3s ease infinite,0s ease 1s normal forwards 1 fadein  ;
	background-size: 600% 600%;
}

.navigation li#n9 {
	background: -webkit-linear-gradient(-45deg, #66FF66,#FF6EFF,#AAF0D1); /* Safari 5.1-6.0 */
    background: linear-gradient(-45deg, #66FF66,#FF6EFF,#AAF0D1);
	background-size: 600% 600%;
	-webkit-transition: 1.5s ease;
	-o-transition: 1.5s ease;
	transition: 1.5s ease;
	transform: translate(0%, -100%);
	-webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
	z-index: -4;
	-webkit-animation: crossing 8s ease infinite, 3s ease 2s normal forwards 1 fadeout ;
	animation: crossing 8s ease infinite, 3s ease 2s normal forwards 1 fadeout ;
}
#blog{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	position: absolute;
	text-decoration: none!important;
	font-family: Biohack;
	font-size: 40px;
	font: bold;
	transform: skewX( -40deg) translate(-50%, 0%);
}
#signature{
	position:absolute;
	color:grey;
	text-decoration: none!important;
	font-family: pixeled;
	font-size: 5px;
	bottom: 18%;
	right:0%;
	transform: rotate(90deg);
}
#front{
	top: 10%;
	right: 10%;
	width:60%;
	height:90%;
	position: absolute;
	z-index: -1;
	display: table;
	margin: auto;
}
#mobMessVideo{

}
