@charset "utf-8";

html {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

video,
.embed-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
embed {
  width: 100%;
}
img,
iframe {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#bio {
  -webkit-transition: opacity 1.2s ease;
  -o-transition: opacity 1.2s ease;
  transition: opacity all 1.2s ease;
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 75%;
  display: inline;
  left: 0%;
  top: 0%;
  margin: auto;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  font: normal 12px/1x Consolas;
  padding: 1rem;
  max-height: 100%;
}

.canvases {
  position: absolute;
  width: 124px;
  height: 221px;
  top: 350px;
  z-index: -10000;
  left: 65px;
}
.canvases2 {
  position: absolute;
  width: 124px;
  height: 221px;
  top: 406px;
  z-index: -10000;
  left: 65px;
}

#frame1 {
  position: absolute;
  width: 248px;
  height: 248px;
  top: 345px;
  left: 5px;
}
#frame2 {
  position: absolute;
  width: 248px;
  height: 248px;
  top: 400px;
  left: 5px;
}

#quote {
  line-height: 35px;
  margin: auto;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  font-family: Champignon;
  font-size: 49px;
  overflow: hidden;
}

#author {
  z-index: 1;
  margin: auto;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;

  font-family: Champignon;
  font-size: 18px;
}

.screens #canvas3,
.screens #frame2,
.screens #img1 {
  display: none !important;
}

@media (min-width: 600px) {
  .screens #canvas3,
  .screens #frame2,
  .screens #img1 {
    display: block !important;
  }

  #frame2 {
    position: absolute;
    top: 345px;
    left: 305px;
  }

  .canvases2 {
    top: 350px;
    z-index: -10000;
    left: 367px;
  }
  #bio {
    width: 80%;
  }
}

.front {
  position: relative;
  left: 0;
  padding: 10% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  font: normal 12px/30px Consolas;
}
