@charset "utf-8";

@media (max-width: 1221px){
}

@font-face {
	font-family: Consolas;
	src: url(Consolas.ttf);
}
@font-face {
	font-family: Pixeled;
	src: url(Pixeled.ttf);
	font-size: 2.5vw;
	text-decoration: none;
	color:blueviolet;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{
	
	width:90%;
	display: block;
	margin: auto;
	color:#333;
	background:radial-gradient(#303258 5%, transparent 15%) 0 0,
	radial-gradient(#2a2c4d 15%, transparent 5%),
	radial-gradient(rgba(200,200,200,.1) 1%, transparent 50%),
	radial-gradient(rgba(200,200,200,.1) 1%, transparent 50%);
	background-size: 10px 10px;
	background-color: #FFF;
}
li{
	list-style: none;
}
#comuna{

	position: absolute;
	text-decoration: none!important;
		color: #FFF;
	text-shadow: -1px 0 #FD0105, 0 1px #FD0105, 1px 0 #FD0105, 0 -1px #FD0105;
	font-familY: Pixeled;
	font-size: 20px;
}
#video{

	width:100%;

	display: block;
	margin: auto;


}
#front{
	background-color: #FFF;
	position: absolute;
	color: #333;
	width:50%;
	left:30%;
	top:10%;
	margin: auto;
	font-family: Consolas;
	font-size: 14px;


	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
}

.images{
	width:100%;

}
#back{
	background-color: #FFF;
	float:right;
	font-size:  1.3vw;
	color:grey;
	text-decoration: none!important;
	font-family: Pixeled;
}
