@charset "utf-8";

@media (max-width: 1221px){
}

@font-face {
	font-family: Consolas;
	src: url(Consolas.ttf);
}
@font-face {
	font-family: Pixeled;
	src: url(Pixeled.ttf);
	font-size: 2.5vw;
	text-decoration: none;
	color:blueviolet;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{

	width:90%;
	display: block;
	margin: auto;
	color:#333;
	background:radial-gradient(#303258 5%, transparent 15%) 0 0,
	radial-gradient(#2a2c4d 15%, transparent 5%),
	radial-gradient(rgba(200,200,200,.1) 1%, transparent 50%),
	radial-gradient(rgba(200,200,200,.1) 1%, transparent 50%);
	background-size: 10px 10px;
	background-color: #FFF;
}
li{
	list-style: none;
}
.navigation, .navigation a.main {
position: fixed;
	transform: skew(40deg) translate(-2%, 0%);
	z-index: 2;
	height:0px;
}

.navigation{
	transform: skew(40deg) translate(7%, 42%);
background-color: #FFF;

	height: 40px;
	width: 250px;
	font: bold 0px/40px arial, sans-serif;
	text-align: center;
	text-decoration: none;
}
	#comuna{
		position: absolute;
		width:250px;
		text-decoration: none!important;
			color: #FFF;
		text-shadow: -1px 0 #FD0105, 0 1px #FD0105, 1px 0 #FD0105, 0 -1px #FD0105;
		font-family: Pixeled;
		font-size: 12px;

		font-kerning: auto;
		transform:scale(1, 2) skewX( -58deg) translate(-55%, 0%);
	}

#video{

	width:100%;

	display: block;
	margin: auto;


}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#front{
	background-color: #FFF;
	position: absolute;
	color: #333;
	width:50%;
	left:30%;
	top:10%;
	margin: auto;
	font-family: Consolas;
	font-size: 14px;


	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
}

.images{
	width:100%;

}
#back {
  position: fixed;
  float: right;
  font-size: 10px;
  top: 95%;
  right: 5%;
  color: grey;
  text-decoration: none!important;
  font-family: Pixeled;
}
