@font-face {
  font-family: babyblocks;
  src: url(web/babyblocks.ttf);
}
@font-face {
  font-family: Consolas;
  src: url(web/Consolas.ttf);
}
@font-face {
  font-family: Pixeled;
  src: url(web/Pixeled.ttf);
}

.front {
  padding-top: 20%;
  width: 80%;
}

.ducks {
  position: absolute;
  top: 40%;
  left: 40%;
  transform-origin: 0% 50% !important;
  width: 4rem;
  height: 4rem;
}

@media only screen and (min-width: 1224px) {
  /* Styles */

  #crawl {
    position: absolute;
    height: 30%;
    width: 100%;
    background: #1b9f07;
  }
  #links {
    color: hotpink;
    text-align: right;

    width: 95%;
    font-size: 20px;
    font-family: babyblocks;
    z-index: 4;
  }
  #text1 {
    font-size: 20px;
    z-index: 4;
    font-family: babyblocks;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
  }
  h1 {
    color: #164201;
    text-decoration: none !important;
    font-family: Consolas !important;
    font-size: 2.3vw;
  }
  #text2 {
    color: #164201;
    text-decoration: none !important;
    font-family: Consolas;
    font-size: 14px;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
  }

  #topCrawl {
    position: absolute;
    /*errror
width: 300px;
height: 200px;*/
    top: 50%;
    left: 50%;
    transform-origin: 150px 100px !important;
  }

  #bg {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("web/pantallas/bgL.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #back {
    position: fixed;
    float: right;
    font-size: 10px;
    top: 95%;
    right: 5%;
    color: grey;
    text-decoration: none !important;
    font-family: Pixeled;
  }
}

@media (min-width: 600px) and (max-width: 1224px) {
  @font-face {
    font-family: babyblocks;
    src: url(web/babyblocks.ttf);
  }

  #text1 {
    font-size: 18px;
    z-index: 4;
    font-family: babyblocks;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
  }
  h1 {
    color: grey;
    text-decoration: none !important;
    font-family: Consolas;
    font-size: 2.3vw;
  }
  #text2 {
    margin: auto;

    color: #164201;
    text-decoration: none !important;
    font-family: Consolas;
    font-size: 1.5vw;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
  }

  #topCrawl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 150px 100px !important;
  }

  #bg {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("web/pantallas/bgM.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #links {
    color: lightseagreen;
    text-align: left;
    font-size: 20px;
    width: 100%;

    font-family: babyblocks;
    z-index: 4;
  }
  #back {
    position: fixed;
    float: right;
    font-size: 10px;
    top: 95%;
    right: 5%;
    color: grey;
    text-decoration: none !important;
    font-family: Pixeled;
  }
}

@media (max-width: 600px) {
  @font-face {
    font-family: babyblocks;
    src: url(web/babyblocks.ttf);
  }

  #text1 {
    font-size: 18px;
    z-index: 4;
    font-family: babyblocks;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
  }
  h1 {
    color: #164201;
    text-decoration: none !important;
    font-family: Consolas;
    font-size: 2.3vw;
  }
  #text2 {
    color: #164201;
    text-decoration: none !important;
    font-family: Consolas;
    font-size: 2.3vw;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
  }

  #topCrawl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 150px 100px !important;
  }
  
  #bg {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("web/pantallas/bgS.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #back {
    position: fixed;
    float: right;
    font-size: 10px;
    top: 95%;
    right: 5%;
    color: grey;
    text-decoration: none !important;
    font-family: Pixeled;
  }
  #links {
    color: darkorange;
    font-size: 20px;

    width: 100%;

    font-family: babyblocks;
    z-index: 4;
  }
}
