body {
  width: 90%;
  display: block;
  margin: auto;
  color: #164201;
  text-decoration: none !important;
  font-family: Consolas;
  
  background: linear-gradient(
      45deg,
      #dca 2%,
      transparent 0,
      transparent 18%,
      #dca 0
    ),
    linear-gradient(135deg, transparent 7%, #a85 0, #a85 13%, transparent 0),
    linear-gradient(45deg, transparent 7%, #dca 0, #dca 13%, transparent 0) #753;
}

#Fragiles {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  position: absolute;
  text-decoration: none !important;
  font-family: Biohack;
  font-size: 60px;
  font: bold;
  transform: skewX(-40deg) translate(0%, 300%);
}
.images {
  width: 100%;
}
#back {
  position: fixed;
  float: right;
  font-size: 10px;
  top: 95%;
  right: 5%;
  color: grey;
  text-decoration: none !important;
  font-family: Pixeled;
}
