@charset "utf-8";

@media (max-width: 1221px){
}

@font-face {
	font-family: Consolas;
	src: url(Consolas.ttf);
}
@font-face {
	font-family: Pixeled;
	src: url(Pixeled.ttf);
	font-size: 2.5vw;
	text-decoration: none;
	color:blueviolet;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{
	height:90%;
	width:90%;
	display: block;
margin: auto;
	color:#164201;
	text-decoration: none!important;
	font-family: Consolas;
	font-size: 1.3vw;
	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
}

.images{
	width:"90%"
	
}
#back{
	float:right;
	font-size:  1.3vw;
	color:grey;
	text-decoration: none!important;
	font-family: Pixeled;
}