@charset "utf-8";

@media (max-width: 1221px){
}
@font-face {
	font-family: Biohack;
	src: url(Biohack.ttf);
}
@font-face {
	font-family: Consolas;
	src: url(Consolas.ttf);
}
@font-face {
	font-family: Pixeled;
	src: url(Pixeled.ttf);
	font-size: 2.5vw;
	text-decoration: none;
	color:blueviolet;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{
	height:90%;
	width:90%;
	display: block;
margin: auto;
	color:#164201;
	text-decoration: none!important;
	font-family: Consolas;
	font-size: 1.3vw;
	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
	background: linear-gradient(45deg, #dca 2%, transparent 0, transparent 18%, #dca 0),
    linear-gradient(135deg, transparent 7%, #a85 0, #a85 13%, transparent 0),
    linear-gradient(45deg, transparent 7%, #dca 0, #dca 13%, transparent 0) #753;
}
li{
	font: bold 0px/40px arial, sans-serif;

}
#front{
	position: absolute;
	color: #333;
	width:50%;
	height:90%;
	left:30%;
	top:10%;
	margin: auto;
	font-family: Consolas;
	font-size: 18px;
	color:#333;
	/*text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;*/

	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
}

#Fragiles{
	list-style: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	position: absolute;
	text-decoration: none!important;
	font-family: Biohack;
	font-size: 60px;
	font: bold;

}
.images{
	width:100%;

}
#back{
	float:right;
	font-size:  2.3vw;
	color:grey;
	text-decoration: none!important;
	font-family: Pixeled;
}
